@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer for custom theme variables */
@layer base {
	:root {
		--background: #0f0f0f;
		--foreground: #e9e9e9;

		--card: #1b1b1b;
		--card-foreground: #e9e9e9;

		--primary: #e9e9e9;
		--primary-foreground: #1b1b1b;

		--secondary: #333333;
		--secondary-foreground: #e9e9e9;

		--accent: #e9e9e9;
		--accent-foreground: #333333;

		--muted: #333333;
		--muted-foreground: #757575;

		--chart-1: #94bed1;
		--chart-2: #61abb4;
		--chart-3: #a78846;
		--chart-4: #9e3f3b;
		--chart-5: #b32a2a;
	}

	.light {
		--background: #c0c0c0;
		--foreground: #0f0f0f;

		--card: #e9e9e9;
		--card-foreground: #0f0f0f;

		--primary: #0f0f0f;
		--primary-foreground: #e9e9e9;

		--secondary: #e9e9e9;
		--secondary-foreground: #0f0f0f;

		--accent: #333333;
		--accent-foreground: #e9e9e9;

		--muted: #afafaf;
		--muted-foreground: #757575;

		--chart-1: #94bed1;
		--chart-2: #61abb4;
		--chart-3: #a78846;
		--chart-4: #9e3f3b;
		--chart-5: #b32a2a;
	}
}

/* General body styling */
body {
	background-color: var(--background);
	color: var(--foreground);
}

/* Section styling */
section {
	background-color: var(--card);
	color: var(--card-foreground);
	border-radius: 0.25rem;
	animation: flash 1s ease-out;
}

/* Header element font sizes and line heights */
h1 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

h3 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

h4 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
}

h5 {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
}

h6 {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

/* Button class styles */
.btn {
	color: var(--foreground);
	background: var(--card);
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-weight: 700;
	height: 2.5rem;
	width: 2.5rem;
}

.btn:hover {
	background: var(--muted);
	transform: scale(1.05);
	opacity: 0.9;
}

/* Icon class styles */
.icon {
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.2);
}

/* Progress bar styling */
.progress {
	background: linear-gradient(to right, #94bed1, #61abb4, #a78846, #9e3f3b, #b32a2a);
	border-radius: 0.5rem;
}

/* Hide scrollbar */
.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

/* Keyframe animation for flashing effect */
@keyframes flash {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-flash {
	animation: flash 1s ease-out;
}
